#tweet-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  margin:0em 1rem 1rem 1rem;
  opacity: 1;
}

.tweet {
  height:100%;
  width: 100%;
  border: 3px solid rgb(78, 78, 78);
  border-radius: 1em 1em 1em 0em;
  padding:0.5em 1em 0.5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.handle {
  color: slategray;
}

.tweet:hover {
  box-shadow: 8px 9px 1em rgba(0, 0, 0, 0.5);
  width:101%;
  height:101%;
  font-size: 101%;
  padding:0.55em 1em 0.55em 1em;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  border: 3px solid rgb(41, 41, 41);
  background-color: rgba(255, 255, 255, 0.342);
}
.tweet-text {
  padding: 1em 0em 1em 0em;
  word-wrap: break-word;
}

.tweet-butt {
  color: blue;
  border: none;
  background-color: transparent;
}
.tweet-butt:hover {
  color:rgb(185, 185, 28);
}

.small {
  font-size:small;
}

.xl {
  font-size:4vw;
  margin:1vw;
}
