.top-container {
  height:400px;
  width:100%;
}

#profile-header {
  display:flex;
  height:inherit;
  width:inherit;
  background-color: rgb(216, 152, 57);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  position:absolute;
  top:0;
}

.name {
  color: #FFFFFF;
  font-size: 150%;
}

@media only screen and (min-width: 1024px) {
  .top-container {
    display: flex;
    width:40%;
    position: relative;
  }
  #profile-header {
    height:inherit;
    width:50%;
    background-color: rgb(216, 152, 57);
    margin: 2em 10% 2em 10%;
    padding: 0 40%;
  }
}

