#tweet-box {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  margin:1em;
}

.shadow {
  text-shadow: 8px 9px 4px #a1a1a175;
}

#tweet-button {
  background-color: blue;
  /* font-family: 'Bungee', cursive; */
  color: white;
  box-shadow: 8px 9px 4px #a1a1a175;
  padding: 0.1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid;
  width: 100%;
  padding: 0.5em 0em 0.5em 0em;
}

.tweet-form {
  width: 100%;
}

#tweet-input {
  display: flex;
  color: rgb(102, 101, 101);
  font-weight: bold;
  font-size:80%;
  width: 100%;
  background-color: transparent;
  border: 0px;
  line-height: 0.75em;
  resize: none;
  outline: none;
}

#error-message {
  display: flex;
  border: 3px solid rgba(255, 0, 0, 0.233);
  background-color:rgba(255, 0, 0, 0.233);
  font-family: 'Bungee', cursive;
  color:rgba(112, 0, 0, 0.39);
  font-family: 'Bungee', cursive;
  border-radius: 5px;
  width:inherit;
  margin:0.5em 1em 0em 1em;
  justify-content:space-evenly;
  opacity: 0;
}

.quote {
  margin:2em 0em 2em 0em;
  font-size: smaller;
}