.tweet-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  margin:1em;
}

.shadow {
  text-shadow: 8px 9px 4px #a1a1a175;
}

#tweet-button {
  background-color: blue;
  font-family: 'Bungee', cursive;
  color: white;
  box-shadow: 8px 9px 4px #a1a1a175;
  padding: 0.1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid;
  width: 100%;
  padding: 0.5em 0em 0.5em 0em;
}

.counter {
  display: flex;
  font-family: 'Bungee', cursive;
}

.tweet-form {
  width: 100%;
}

#tweet-input {
  display: flex;
  color: rgb(102, 101, 101);
  font-weight: bold;
  font-size:80%;
  width: 100%;
  background-color: transparent;
  border: 0px;
  line-height: 0.75em;
  resize: none;
  outline: none;
}

