#tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  margin: 0em 1rem 1rem 1rem;
  opacity: 1;
}

.tweet {
  height: 11.5rem;
  width: 100%;
  border: 3px solid #4e4e4e;
  border-radius: 1em 1em 1em 0em;
  padding: 1em 1em 0em 1em;
  margin-top: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.handle {
  color: slategray;
}

.tweet:hover {
  box-shadow: 8px 9px 1em rgba(0, 0, 0, 0.5);
  width: 101%;
  height: 11.6rem;
  margin-top: 0.9em;
}

.tweet-text {
  padding: 1em 0em 1em 0em;
  word-wrap: break-word;
}

.tweet-butt {
  color: blue;
  border: none;
  background-color: transparent;
}

.tweet-butt:hover {
  color: #b9b91c;
}

.small {
  font-size: small;
}

.xl {
  font-size: 4vw;
  margin: 1vw;
}
